<header class="header">
  <a href="/api/widgets/orders/<%=restaurant.id%>/restaurants">
    <img class="logo" src="/img/light.png" alt="OmniEats logo" />
  </a>
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li>
        <form action="/users/logout" method="post">
          <p class="username">
            Welcome
            <span class="strong margin-right-sm"><%= user.name %>!</span>
            <span
              ><button class="btn btn--form" type="submit">Logout</button>
            </span>
          </p>
        </form>
      </li>
    </ul>
  </nav>
</header>
