<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OmniEats &mdash; Eat healthy today</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="OmniEats has proudly partnered with an extensive network of over hundreds of renowned and handpicked healthy food restaurants across Canada. Our collaboration with these culinary gems ensures that you have access to a diverse range of flavorful, nutritious, and thoughtfully prepared dishes, all available at your fingertips."
    />

    <link rel="icon" href="img/favicon.png" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script
      defer
      src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
    ></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <header class="header">
      <a href="#">
        <img class="logo" src="img/light.png" alt="OmniEats logo" />
      </a>
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li><a class="main-nav-link" href="#meals">Meals</a></li>
          <li>
            <a class="main-nav-link" href="#testimonials">Testimonials</a>
          </li>
          <li><a class="main-nav-link" href="#cta">Business partners</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="section-hero">
        <div class="hero">
          <div class="hero-text-box">
            <h1 class="heading-primary">
              Discover a New Way to Savor Health and Flavor
            </h1>
            <p class="hero-description">
              OmniEats has proudly partnered with an extensive network of over
              hundreds of renowned and handpicked healthy food restaurants
              across Canada. We're on a quest to redefine how you experience
              meals, offering a curated selection that caters to your cravings
              and health-conscious choices.
            </p>
            <a href="users/login/1" class="btn btn--full margin-right-sm"
              >Start eating well</a
            >
            <div class="picked-meals">
              <div class="picked-imgs">
                <img src="img/customers/customer-1.jpg" alt="Customer photo" />
                <img src="img/customers/customer-2.jpg" alt="Customer photo" />
                <img src="img/customers/customer-3.jpg" alt="Customer photo" />
                <img src="img/customers/customer-4.jpg" alt="Customer photo" />
                <img src="img/customers/customer-5.jpg" alt="Customer photo" />
                <img src="img/customers/customer-6.jpg" alt="Customer photo" />
              </div>
              <p class="picked-text">
                <span>50,000+</span> meals picked up last year!
              </p>
            </div>
          </div>
          <div class="hero-image-box">
            <img
              src="img/hero.jpg"
              class="hero-img"
              alt="Man serving a pizza"
            />
          </div>
        </div>
      </section>
      <section class="section-meals" id="meals">
        <div class="container center-text">
          <span class="subheading">Meals</span>
          <h2 class="heading-secondary">A Culinary Adventure Awaits</h2>
        </div>
        <div class="container grid grid--3-cols margin-bottom-md">
          <div class="meal">
            <img
              src="img/meals/meal-1.webp"
              class="meal-img"
              alt="Mushroom Soup"
            />
            <div class="meal-content">
              <div class="meal-tag">
                <span class="tag tag--vegetarian">Vegetarian</span>
              </div>
              <p class="meal-title">Mushroom Soup</p>
              <ul class="meal-attributes">
                <li class="meal-attribute">
                  <ion-icon class="meal-icon" name="flame-outline"></ion-icon
                  ><span><strong>650</strong> calories</span>
                </li>
                <li class="meal-attribute">
                  <ion-icon
                    class="meal-icon"
                    name="restaurant-outline"
                  ></ion-icon
                  ><span>NutriScore &reg; <strong>74</strong></span>
                </li>
                <li class="meal-attribute">
                  <ion-icon class="meal-icon" name="medkit-outline"></ion-icon
                  ><span>Allergen free!</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="meal">
            <img
              src="img/meals/meal-2.webp"
              class="meal-img"
              alt="Pasta Salad with Greens"
            />
            <div class="meal-content">
              <div class="meal-tag">
                <span class="tag tag--vegan">Vegan</span>
                <span class="tag tag--paleo">Paleo</span>
              </div>
              <p class="meal-title">Pasta Salad</p>
              <ul class="meal-attributes">
                <li class="meal-attribute">
                  <ion-icon class="meal-icon" name="flame-outline"></ion-icon
                  ><span><strong>400</strong> calories</span>
                </li>
                <li class="meal-attribute">
                  <ion-icon
                    class="meal-icon"
                    name="restaurant-outline"
                  ></ion-icon
                  ><span>NutriScore &reg; <strong>92</strong></span>
                </li>
                <li class="meal-attribute">
                  <ion-icon class="meal-icon" name="medkit-outline"></ion-icon
                  ><span> Allergen free! </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="meal">
            <img
              src="img/meals/meal-3.webp"
              class="meal-img"
              alt="quinoa salad"
            />
            <div class="meal-content">
              <div class="meal-tag">
                <span class="tag tag--vegan">Vegan</span>
                <span class="tag tag--paleo">Paleo</span>
              </div>
              <p class="meal-title">Quinoa salad</p>
              <ul class="meal-attributes">
                <li class="meal-attribute">
                  <ion-icon class="meal-icon" name="flame-outline"></ion-icon
                  ><span><strong>400</strong> calories</span>
                </li>
                <li class="meal-attribute">
                  <ion-icon
                    class="meal-icon"
                    name="restaurant-outline"
                  ></ion-icon
                  ><span>NutriScore &reg; <strong>92</strong></span>
                </li>
                <li class="meal-attribute">
                  <ion-icon class="meal-icon" name="medkit-outline"></ion-icon
                  ><span>Allergen free!</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="section-testimonials" id="testimonials">
        <div class="testimonials-container">
          <span class="subheading">Testimonials</span>
          <h2 class="heading-secondary">Customers are absolutely addicted</h2>

          <div class="testimonials">
            <figure class="testimonial">
              <img
                class="testimonial-img"
                src="img/customers/dave.jpg"
                alt="Picture of Dave"
              />
              <blockquote class="testimonial-text">
                I was blown away by the convenience and quality OmniEats offers.
                As a busy professional, I struggle to find time to cook healthy
                meals.
              </blockquote>
              <p class="testimonial-name">&mdash; Dave Bryson</p>
            </figure>
            <figure class="testimonial">
              <img
                class="testimonial-img"
                src="img/customers/ben.jpg"
                alt="Picture of Dave"
              />
              <blockquote class="testimonial-text">
                I can't thank OmniEats enough for rekindling my passion for
                healthy eating. The variety they offer is unparalleled, and each
                dish feels like a gourmet masterpiece.
              </blockquote>
              <p class="testimonial-name">&mdash; Ben Hadley</p>
            </figure>
            <figure class="testimonial">
              <img
                class="testimonial-img"
                src="img/customers/steve.jpg"
                alt="Picture of Dave"
              />
              <blockquote class="testimonial-text">
                OmniEats has taken the hassle out of maintaining a balanced
                diet. Their partnership with exceptional restaurants has
                elevated my culinary journey.
              </blockquote>
              <p class="testimonial-name">&mdash; Steve Miller</p>
            </figure>
            <figure class="testimonial">
              <img
                class="testimonial-img"
                src="img/customers/hannah.jpg"
                alt="Picture of Dave"
              />
              <blockquote class="testimonial-text">
                From a skeptic to an enthusiast – OmniEats has converted me! I
                was skeptical about the idea of healthy food being delicious
                until I tried OmniEats.
              </blockquote>
              <p class="testimonial-name">&mdash; Hannah Smith</p>
            </figure>
          </div>
        </div>
        <div class="gallery">
          <figure class="gallery-item">
            <img
              src="img/gallery/gallery-1.jpg"
              alt="Photo of beautifully arranged food"
            />
          </figure>
          <figure class="gallery-item">
            <img
              src="img/gallery/gallery-2.jpg"
              alt="Photo of beautifully arranged food"
            />
          </figure>
          <figure class="gallery-item">
            <img
              src="img/gallery/gallery-3.jpg"
              alt="Photo of beautifully arranged food"
            />
          </figure>
          <figure class="gallery-item">
            <img
              src="img/gallery/gallery-4.jpg"
              alt="Photo of beautifully arranged food"
            />
          </figure>
          <figure class="gallery-item">
            <img
              src="img/gallery/gallery-5.jpg"
              alt="Photo of beautifully arranged food"
            />
          </figure>
          <figure class="gallery-item">
            <img
              src="img/gallery/gallery-6.jpg"
              alt="Photo of beautifully arranged food"
            />
          </figure>
          <figure class="gallery-item">
            <img
              src="img/gallery/gallery-7.jpg"
              alt="Photo of beautifully arranged food"
            />
          </figure>
          <figure class="gallery-item">
            <img
              src="img/gallery/gallery-8.jpg"
              alt="Photo of beautifully arranged food"
            />
          </figure>
          <figure class="gallery-item">
            <img
              src="img/gallery/gallery-9.jpg"
              alt="Photo of beautifully arranged food"
            />
          </figure>
          <figure class="gallery-item">
            <img
              src="img/gallery/gallery-10.jpg"
              alt="Photo of beautifully arranged food"
            />
          </figure>
          <figure class="gallery-item">
            <img
              src="img/gallery/gallery-11.jpg"
              alt="Photo of beautifully arranged food"
            />
          </figure>
          <figure class="gallery-item">
            <img
              src="img/gallery/gallery-12.jpg"
              alt="Photo of beautifully arranged food"
            />
          </figure>
        </div>
      </section>
      <section class="section-cta" id="cta">
        <div class="container">
          <span class="subheading">Become a Business Partner</span>
          <h2 class="heading-secondary">Elevate your reach and impact</h2>
        </div>
        <div class="container grid grid--2-cols">
          <img
            class="partner-pic"
            src="img/partner.jpeg"
            alt="business meeting"
          />
          <div>
            <p class="cta-text">
              Become a cherished part of our culinary community, where health
              meets flavor, and innovation knows no bounds. Partner with us to
              showcase your restaurant's creations to a wider audience, gain
              loyal customers, and be a part of the future of nourishing dining
              experiences. Together, let's redefine how the world savors food.
            </p>
            <a href="users/login/3" class="btn btn--full margin-right-sm"
              >Enter and elevate</a
            >
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container grid grid--footer">
        <div class="logo-col">
          <a href="#" class="footer-logo">
            <img class="logo" src="img/light.png" alt="OmniEats logo" />
          </a>
          <ul class="social-links">
            <li>
              <a class="footer-link" href="#"
                ><ion-icon class="social-icon" name="logo-instagram"></ion-icon
              ></a>
            </li>
            <li>
              <a class="footer-link" href="#"
                ><ion-icon class="social-icon" name="logo-facebook"></ion-icon
              ></a>
            </li>
            <li>
              <a class="footer-link" href="#"
                ><ion-icon class="social-icon" name="logo-twitter"></ion-icon
              ></a>
            </li>
          </ul>

          <p class="copyright">
            Copyright &copy; <span class="year"></span> by OmniEats, Inc. All
            rights reserved.
          </p>
        </div>
        <div class="address-col">
          <p class="footer-heading">Contact us</p>
          <address class="contacts">
            <p>623 Harrison St., 2nd Floor, Waterloo, ON N2C 3P4</p>
            <p>
              <a class="footer-link" href="tel:519-201-6370">519-201-6370</a>
            </p>
            <p>
              <a class="footer-link" href="mailto:hello@omnieats.com"
                >hello@omnieats.com</a
              >
            </p>
          </address>
        </div>
        <nav class="nav-col">
          <p class="footer-heading">Account</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">Create account</a></li>
            <li><a class="footer-link" href="#">Sign in</a></li>
            <li><a class="footer-link" href="#">iOS app</a></li>
            <li><a class="footer-link" href="#">Android app</a></li>
          </ul>
        </nav>
        <nav class="nav-col">
          <p class="footer-heading">Company</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">About OmniEats</a></li>
            <li><a class="footer-link" href="#">For Business</a></li>
            <li><a class="footer-link" href="#">Restaurant partners</a></li>
            <li><a class="footer-link" href="#">Careers</a></li>
          </ul>
        </nav>
        <nav class="nav-col">
          <p class="footer-heading">Resources</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">Recipe directory</a></li>
            <li><a class="footer-link" href="#">Help center</a></li>
            <li><a class="footer-link" href="#">Privacy & terms</a></li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>
